.banner-img{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), 
    url(../resources/Banner\ Image.png);
    width: 88.5%;
    margin: 0 auto;
    height: 600px;
    border-radius: 16px;
    
}

.banner-title{
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 90px;
}

.banner-caption{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px; 
    width: 100 auto;
    margin-top: -30px;
    line-height: 90px;
}
.titel{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.perageraph-1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -20px;
}
.perageraph-2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -25px;
}

.section-1{
    text-align: center;
}
.new year photo{
    margin: 50px;
}